<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.yatra.ExtentReportListener.ExtentReporterNG" />
	</listeners>
	<test name="Test">
		<classes>
			<!-- <class name="com.account.test.LoginTest" /> -->
			<!-- <class name="com.account.test.SignUpTest" /> -->
			 <class name="com.booking.test.OneWayTripTest" /> 
			<!--<class name="com.booking.test.RoundTripTest" />-->
			<!-- <class name="com.booking.test.MultiCityTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
